# macOS 시스템 파일 무시
.DS_Store

# 가상 환경
venv/

# Python 캐시 및 설정
__pycache__/
*.pyc
*.pyo

# VSCode 설정 파일
.vscode/

# 로그 및 임시 파일
logs/
*.log

# Node.js 종속성 무시
node_modules/
ai/models/best_model/model.safetensors
# Ignore all checkpoint folders in fine_tuned_model except the specified ones
ai/models/fine_tuned_model/checkpoint-*/
ai/models/fine_tuned_model/model.safetensors
